<h1><%= @project.name %></h1>
<p>Total todos: <%= @project.todos.count %></p>
<ul>
  <% @project.todos.each do |todo| %>
    <li>
      <%= link_to todo.name, todo_path(todo) %> - <strong><%= todo.priority %></strong>
      <% if todo.completed %>
        <span class="text-success">(Completed)</span>
      <% else %>
        <span class="text-warning">(Pending)</span>
      <% end %>
    </li>
  <% end %>
</ul>

<%= button_to "Edit", edit_project_path(@project), method: :get %>
<%= button_to "Delete", project_path(@project), method: :delete, data: { confirm: "Are you sure?" } %>